html {
    min-height: 100%;
    position: relative;
}


/* body {
    display: flex;
    flex-direction: column;
    height: 100%;
} */

#imprimir {
    position: fixed;
    bottom: 10%;
    right: 5%;
}


/*Edicion del Navbar*/

.fondo-entrada {
    background: url("../img/header2.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}


/* #botonUrl {
    margin: 0% !important;
} */