<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="../../js/components/header.js" type="text/javascript" defer></script>
    <script src="../../js/components/footer.js" type="text/javascript" defer></script>
    <script src="../../js/helpers/function.js" type="text/javascript"></script>
    <title>Descarga la App</title>
</head>

<body>

    <header-component></header-component>
    
    <h1 class="text-center"> Aqui podras descargar la app de inventario </h1>
    <hr>
    <p class='text-center'>
        Een esta poagna podras descargar la ultima version disponible de android que se comunica con la API de este sitio
    </p>

    <div class="card text-center">
        <div class="card-header">
            <!-- Featured -->
        </div>
        <div class="card-body">
            <h5 class="card-title">Aqui podras descargar la app de inventario</h5>
            <p class="card-text">Espero que te sea de utilidad acuerdate de dar permisos de origenes desconocidos para poder instalar esta app</p>
            <!-- <button class="button btn btn-primary" ><a href="/assets/app-android/invapp.apk" download="InvApp-v1.0.1.apk">Descargar el Apk</a></button> -->
            <a href="https://github.com/carlossdf1/WebStore/releases/download/v1.0.9/app-release.apk" download="InvApp-v1.1.2.apk" class="btn btn-primary">Descargar</a>
        </div>
        <div class="card-footer text-muted">
            <!-- 2 days ago -->
        </div>
    </div>
    <div class="p-5"></div>
    <footer-component></footer-component>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js " integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf " crossorigin="anonymous "></script>
</body>

</html>